
* {
	font-family: droid_sansregular,Arial,Helvetica,sans-serif;
}

div {
}

#sections {
	overflow: auto;
}

a {
	text-decoration: none;
	color: black;
}

.section {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	padding: 5px;
	width: 20%;
	height: 3em;
	border-radius: 5px;
	border: solid 1px gray;
}

.section .sectitle {
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	vertical-align: top;
}

.sectitle img {
	float: right;
}

.section-network {
	background: linear-gradient(rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
}

.section-bci {
	background: linear-gradient(rgba(186,205,252,1) 0%, rgba(79,125,252,1) 50%, rgba(0,67,250,1) 51%, rgba(147,175,251,1) 100%);
}

.section-batteries {
	background: linear-gradient(rgba(219,186,252,1) 0%, rgba(169,79,252,1) 50%, rgba(129,0,250,1) 51%, rgba(201,147,251,1) 100%);
}

#accum {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 8px;
}

#accum-soc {
	font-size: 4em;
	font-weight: bold;
	margin-top: -8px;
	margin-bottom: -8px;
}

#accum-eta {
	font-size: 2em;
	color: #888888;
}

#accum-details {
	color: #888888;
}

#batteries {
	overflow: auto;
}

.batterygroup {
	float: left;
	overflow: auto;
}

.battery {
	float: left;
	margin: 5px;
	padding: 4px;
	border-radius: 5px;
	border: solid 1px #dddddd;
	height: 3.5em;
	width: 3.5em;
}


.battery[data-state="unknown"] {
	background-color: #eeeeee;
}

.battery[data-state="scanning"] {
	background-color: #888888;
}

.battery[data-state="testing"] {
	background-color: green;
}

.battery[data-state="unavailable"] {
	background-color: #f8f8f8;
	color: #cccccc;
}

.battery[data-state="missing"] {
	background-color: red;
}

.battery[data-state="available"] {
	background-color: #44cc44;
}

#main {
}

#list {
	float: left;
}

/* 
 * vi: ts=3 sw=3 
 */
